<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= pokemon.name %></h1>
    
    <img src="<%= pokemon.img %>" />
    
    <!-- <a href="/pokemon/:id/edit/<%= pokemon.id %>">Edit <%= pokemon.name %></a> -->
    <a href="/pokemon/"><h4>BACK TO MAIN PAGE</h4></a>
    
</body>
</html>