<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style type="text/css">
        body {
            color: royalblue;
            background-color: yellow;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

    </style>
    <h1><%= pokemon.name %></h1>
    
    <img src="<%= pokemon.img %>" />
    
    

    
    <a href="/pokemon/"><h4><button>BACK TO MAIN PAGE</button></h4></a>
    
</body>
</html>